@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1 class="text-center pt-5" style="color: #00ADB5; font-size: 40px !important; font-style: oblique ">Welcome</h1>
<h3 class="text-center text-light" style="font-style: oblique">Sign up above or check out our headquarters!</h3>
<img src="~/SuperHeroPics/superhero-team.jpg" height="420" width="1100" />
